       @media (min-width:400px) and (max-width: 450px) {
            .imgbanner
        {
                min-width:400px;
                max-width:450px;
            }
            .CollegeBanner {
                min-width:400px;
                max-width:450px;
            }
}
        @media (min-width:450px) and (max-width: 500px) {
            .imgbanner
        {
                min-width:450px;
                max-width:500px;
            }
            .CollegeBanner {
                min-width:450px;
                max-width:500px;
            }
}
        @media (min-width:350px) and (max-width: 400px) {
            .imgbanner
        {
                min-width:350px;
                max-width:400px;
            }
            .CollegeBanner {
                min-width:350px;
                max-width:400px;
            }
            #CollegeNameSpan {
            font-size:9px;
            }
}
